@font-face {
    font-family: GT America;
    src: url('assets/fonts/GT-America-Standard-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: GT Walsheim;
    src: url( 'assets/fonts/GT-Walsheim-Ultra-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: oliver;
    src: url( 'assets/fonts/Oliver-Regular.otf');
    font-weight: normal;
    font-style: normal;
}